---
---

@import "variables";

html {
	font-size: 100%;
}

body {
	margin: 0px;
	background: $white;
	font-size: 18px;
	font-family: $monospace;
}

.wrapper-header {
	
}

.header {
	border-bottom: 1px solid $black;
}

.title-bar {
	padding: 5px;
	padding-bottom: 7px;
	background: $cool_grey;
	background: linear-gradient(to bottom, #444444, $cool_grey);
	color: $white;
	text-align: right;
	a {
		color: $white;
		text-decoration: none;
	}
}

.title-text {
}

.search-box {
	float: left;
	height: 26px;
	padding: 0px 2px;
	border-radius: 10px;
	background-color: $cool_grey;
	.text-input {
		height: 20px;
		border: 0px;
		border-radius: 10px;
		background-color: $warm_grey;
		box-sizing: border-box;
		padding: 0px;
	}
	.search-button {
		height: 20px;
		border: 0px;
		border-radius: 10px;
		background-color: $warm_grey;
		padding: 0px 5px;
	}
}

.navigation {
	background-color: $warm_grey_30;
	padding: 2px;
	padding-left: 10px;
	a {
		padding: 2px;
		color: $black;
		text-decoration: none;
	}
	a:hover {
		background-color: $ubuntu_orange;
	}
}
