

$white: #fff;
$black: #000;

$ubuntu_orange: #E95420;

$light_aubergine: #77216F;
$mid_aubergine: #5E2750;
$dark_aubergine: #2C001E;

$warm_grey: #AEA79F;
$cool_grey: #333333;

$warm_grey_30: #E6E4E2;

$link: #0065AD;

$header: #C5005D;


$monospace: D2Coding, 나눔고딕코딩, monospace;
$sans: 나눔고딕, sans-serif;