<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>
    {% include meta.html %}
</head>
<body>
	<div class="wrapper-header">
		<div class="container">
			<header class="header">
				<nav class="navigation">
					<a href="{{ site.baseurl }}">{{ site.name }}</a>
				</nav>
				<form class="search-box" method="GET" action="/search/" style="text-align: center; margin-top: 20px; margin-left: 20px;">
					<input type="text" name="query">
					<input type="submit" value="Search">
				</form>
			</header>
		</div>
	</div>
	
	<div class="container" id="main">
		{{ content }}
	</div>
	
	<div class="wrapper-footer">
		<div class="container">
			<footer class="footer">
				<p>{{ site.footer_message }}</p>
			</footer>
		</div>
	</div>
</body>
</html>
